
/* Loader */
#loader{
    position:fixed;
    top:0;
    left:0;
    background:rgba(255,255,255,0.5);
    background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
    z-index:2000;
    width:100%;
    height:100%;
}


/* Input Uppercase */
input[data-transform=uppercase] {
    text-transform: uppercase;
}


#mid-vert{
    vertical-align: middle;
}

.has-error{
    margin-bottom: 0px !important;
}

/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 600;*/
/*  src: url('/fonts/open-sans-v17-latin-regular.eot'); !* IE9 Compat Modes *!*/
/*  src: local('Open Sans Regular'), local('OpenSans-Regular'),*/
/*       url('/fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),*/
/*       url('/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),*/
/*       url('/fonts/open-sans-v17-latin-regular.woff') format('woff'),*/
/*       url('/fonts/open-sans-v17-latin-regular.ttf') format('truetype'),*/
/*       url('/fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');*/
/*}*/
.swal2-popup{
    font-size: 1.2rem !important;
}

body{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Product Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Product Sans";
}
.text-strong{
    font-weight: bold;
}

.bootstrap-tagsinput{
    width: 100% !important;
    line-height: 25px !important;
    border-radius: 0px !important;
}

.bootstrap-tagsinput .label{
    font-size: 95%;
    line-height: 2.3;
}

.todo-list>li{
    background-color: #a7e8cb !important;
    padding: 3px 10px !important;
}


body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

.action{
    width: 40px;
}

.action-8p{
    width: 8%;
}

.w-6p{
    width: 6%;
}

.w-1p{
    width: 1% !important;
}

.w-2p{
    width: 2% !important;
}

.w-8p{
    width: 8%;
}

.w-10p{
    width: 10%;
}
.w-15p{
    width: 15%;
}

.w-30p{
    width: 30%;
}

.w-12p{
    width: 12%;
}

.action-10p{
    width: 10%;
}

.action-12p{
    width: 12%;
}

.action-60{
    width: 60px !important;
}

.action-80{
    width: 80px !important;
}

.action-100{
    width: 100px !important;
}

.action-120{
    width: 120px !important;
}

.action-140{
    width: 140px !important;
}

.action-160{
    width: 160px !important;
}

.action-180{
    width: 180px !important;
}

.action-200{
    width: 200px !important;
}

.action-3{
    width: 120px !important;

}

.slimScrollBar{
    background: white !important;
}